<%- include('./partials/_nav'); %>
<div class="nav-bottom-spacing">
    <section id="banner">
        <div class="banner-img-overlay p-5 text-center">
            <h1 class="banner-title text-uppercase text-light">Fan fave lippes in New, super rich colors</h1>
            <a href="/shop" class="btn btn-primary btn-light mt-4">Discover now</a>
        </div>
    </section>
    <main id="main">
        <div id="product-column" class="my-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xs-12 my-3">
                        <div class="card text-dark border-0">
                            <a href="/shop" class="text-dark">
                                <img src="/images/facemakeup.webp" class="card-img" alt="face makeup tube">
                                <div class="card-img-overlay p-5">
                                    <h2 class="card-title text-uppercase">Face <span>Makeup</span></h2>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xs-12 my-3">
                        <div class="card text-dark border-0">
                            <a href="/shop" class="text-dark">
                                <img src="/images/eyemakeup.webp" class="card-img" alt="eye makeup kit">
                                <div class="card-img-overlay p-5">
                                    <h2 class="card-title text-uppercase">Eye <span>Makeup</span></h2>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xs-12 my-3">
                        <div class="card text-dark border-0">
                            <a href="/shop" class="text-dark">
                                <img src="/images/lipmakeup.webp" class="card-img" alt="lip gloss">
                                <div class="card-img-overlay p-5">
                                    <h2 class="card-title text-uppercase">lip<span>Makeup</span></h2>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xs-12 my-3">
                        <div class="card text-dark border-0">
                            <a href="/shop" class="text-dark">
                                <img src="/images/giftsetmakeup.webp" class="card-img" alt="gift makeup kit">
                                <div class="card-img-overlay p-5">
                                    <h2 class="card-title text-uppercase">gift sets<span>Makeup kits</span></h2>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="items">
            <div class="container">
                <h2 class="text-uppercase text-center">New arrivals</h2>
                <div class="row my-5">
                    <div class="col-lg-3 col-md-4 col-sm-6 pb-3">
                        <div class="card border-0 shadow">
                            <img src="/images/eyebrow-mascara.png" class="card-img-top" alt="Volumizing-eyebrow-mascara">
                            <div class="card-body">
                                <p class="text-uppercase">eyes,face</p>
                                <h5 class="card-title">Eyebrow-mascara</h5>
                                <p class="card-text">$22.00</p>
                                <a href="#" class="btn btn-primary btn-dark">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 pb-3">
                        <div class="card border-0 shadow">
                            <img src="/images/concealer.png" class="card-img-top" alt="Eye-reviving-dark-circle-concealer">
                            <div class="card-body">
                                <p class="text-uppercase">face,lips,skin</p>
                                <h5 class="card-title">Eye-concealer</h5>
                                <p class="card-text">$45.00</p>
                                <a href="#" class="btn btn-primary btn-dark">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 pb-3">
                        <div class="card border-0 shadow">
                            <img src="/images/eyeliner.png" class="card-img-top" alt="Long-wear-cream-eyeliner">
                            <div class="card-body">
                                <p class="text-uppercase">eyes,skin</p>
                                <h5 class="card-title">Cream-eyeliner</h5>
                                <p class="card-text">$50.00</p>
                                <a href="#" class="btn btn-primary btn-dark">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 pb-3">
                        <div class="card border-0 shadow">
                            <img src="/images/foundation.webp" class="card-img-top" alt="Fluid-foundation">
                            <div class="card-body">
                                <p class="text-uppercase">brushes,face,skin</p>
                                <h5 class="card-title">Fluid-foundation</h5>
                                <p class="card-text">$98.50</p>
                                <a href="#" class="btn btn-primary btn-dark">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<%- include('./partials/footer'); %>


<!-- background-image: https://ld-wp73.template-help.com/woocommerce/prod_16812/v2/wp-content/uploads/2020/02/smart-slide01.jpg -->
<!-- face makeup: https://ld-wp73.template-help.com/woocommerce/prod_16812/v2/wp-content/uploads/2020/02/banner01.png -->
<!-- eye makeup: https://ld-wp73.template-help.com/woocommerce/prod_16812/v2/wp-content/uploads/2020/02/banner02.png -->
<!-- lip makeup: https://ld-wp73.template-help.com/woocommerce/prod_16812/v2/wp-content/uploads/2020/02/banner03.png  -->
<!-- giftset makeup kit: https://ld-wp73.template-help.com/woocommerce/prod_16812/v2/wp-content/uploads/2020/02/banner04.png -->
<!-- maskara: https://ld-wp73.template-help.com/woocommerce/prod_16812/v2/wp-content/uploads/2018/01/Volumizing-eyebrow-mascara-400x400.png -->
<!-- concealer: https://ld-wp73.template-help.com/woocommerce/prod_16812/v2/wp-content/uploads/2018/01/Eye-reviving-dark-circle-concealer-beige-chair-400x400.png -->
<!-- eyeliner: https://ld-wp73.template-help.com/woocommerce/prod_16812/v2/wp-content/uploads/2018/01/Long-wear-cream-eyeliner-noir-400x400.png -->
<!-- foundation: https://ld-wp73.template-help.com/woocommerce/prod_16812/v2/wp-content/uploads/2018/01/Fluid-foundation-400x400.png -->