<%- include('./partials/_nav'); %>
<div class="nav-bottom-spacing">
  <nav aria-label="breadcrumb" class="py-3 breadcrumb m-0">
    <div class="container">
      <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Shop</li>
      </ol>
    </div>
  </nav>
  <div id="shop-products">
    <div class="container">
      <h2 class="text-uppercase text-center">Our products</h2>
      <div class="row my-5">
        <div class="col-lg-3 col-md-4 col-sm-6 my-3">
          <div class="card border-0 shadow">
            <img src="/images/eyebrow-mascara.png" class="card-img-top" alt="Volumizing-eyebrow-mascara">
            <div class="card-body">
              <p class="text-uppercase">eyes,face</p>
              <h5 class="card-title">Eyebrow-mascara</h5>
              <p class="card-text">$22.00</p>
              <a href="#" class="btn btn-primary btn-dark">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 my-3">
          <div class="card border-0 shadow">
            <img src="/images/concealer.png" class="card-img-top" alt="Eye-reviving-dark-circle-concealer">
            <div class="card-body">
              <p class="text-uppercase">face,lips,skin</p>
              <h5 class="card-title">Eye-concealer</h5>
              <p class="card-text">$45.00</p>
              <a href="#" class="btn btn-primary btn-dark">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 my-3">
          <div class="card border-0 shadow">
            <img src="/images/eyeliner.png" class="card-img-top" alt="Long-wear-cream-eyeliner">
            <div class="card-body">
              <p class="text-uppercase">eyes,skin</p>
              <h5 class="card-title">Cream-eyeliner</h5>
              <p class="card-text">$50.00</p>
              <a href="#" class="btn btn-primary btn-dark">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 my-3">
          <div class="card border-0 shadow">
            <img src="/images/foundation.webp" class="card-img-top" alt="Fuild-foundation">
            <div class="card-body">
              <p class="text-uppercase">brushes,face,skin</p>
              <h5 class="card-title">Fuild-foundation</h5>
              <p class="card-text">$98.50</p>
              <a href="#" class="btn btn-primary btn-dark">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 my-3">
          <div class="card border-0 shadow">
            <img src="/images/concealer-biscuit.webp" class="card-img-top" alt="/Perfect-gaze-dark-circle-concealer">
            <div class="card-body">
              <p class="text-uppercase">face,lips</p>
              <h5 class="card-title">Perfect-gaze-concealer</h5>
              <p class="card-text">$98.50</p>
              <a href="#" class="btn btn-primary btn-dark">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 my-3">
          <div class="card border-0 shadow">
            <img src="/images/lipgloss.png" class="card-img-top" alt="Lipgloss / Little MAC">
            <div class="card-body">
              <p class="text-uppercase">Face,lips</p>
              <h5 class="card-title">Lipgloss / Little MAC</h5>
              <p class="card-text">$52.00</p>
              <a href="#" class="btn btn-primary btn-dark">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 my-3">
          <div class="card border-0 shadow">
            <img src="/images/eye-shadows.webp" class="card-img-top" alt="Eye-shadows-palette">
            <div class="card-body">
              <p class="text-uppercase">eyes,face</p>
              <h5 class="card-title">Eye-shadows-palette</h5>
              <p class="card-text">$55.50</p>
              <a href="#" class="btn btn-primary btn-dark">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 my-3">
          <div class="card border-0 shadow">
            <img src="/images/Shimmering-powder.webp" class="card-img-top" alt="Sephora 129 SHS Powder">
            <div class="card-body">
              <p class="text-uppercase">brushes,eyes,skin</p>
              <h5 class="card-title">Sephora SHS Powder</h5>
              <p class="card-text">$98.50</p>
              <a href="#" class="btn btn-primary btn-dark">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 my-3">
          <div class="card border-0 shadow">
            <img src="/images/eyeliner-prune.png" class="card-img-top" alt="Waterproof vinyl eyeliner">
            <div class="card-body">
              <p class="text-uppercase">brushes,face,eyes</p>
              <h5 class="card-title">Waterproof vinyl eyeliner</h5>
              <p class="card-text">$43.50</p>
              <a href="#" class="btn btn-primary btn-dark">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 my-3">
          <div class="card border-0 shadow">
            <img src="/images/fluidline.webp" class="card-img-top" alt="Rimmel PRO Longwear Fluidline">
            <div class="card-body">
              <p class="text-uppercase">eyes,skin</p>
              <h5 class="card-title">Rimmel Longwear Fluidline</h5>
              <p class="card-text">$63.00</p>
              <a href="#" class="btn btn-primary btn-dark">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 my-3">
          <div class="card border-0 shadow">
            <img src="/images/lipstick.png" class="card-img-top" alt="Lipstick">
            <div class="card-body">
              <p class="text-uppercase">lips</p>
              <h5 class="card-title">Lipstick</h5>
              <p class="card-text">$59.99</p>
              <a href="#" class="btn btn-primary btn-dark">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('./partials/footer'); %>


<!-- 
concealer biscuit: https://ld-wp73.template-help.com/woocommerce/prod_16812/v2/wp-content/uploads/2018/01/Perfect-gaze-dark-circle-concealer-biscuit-2-400x400.png -->
<!-- lipgloss: https://ld-wp73.template-help.com/woocommerce/prod_16812/v2/wp-content/uploads/2018/01/Shimmering-400x400.png -->
<!-- eye-shadow: https://ld-wp73.template-help.com/woocommerce/prod_16812/v2/wp-content/uploads/2018/01/Eye-shadows-palette-smokey-shades-400x400.png -->
<!-- Shimmering-powder: https://ld-wp73.template-help.com/woocommerce/prod_16812/v2/wp-content/uploads/2018/01/Shimmering-illuminating-powder-400x400.png -->
<!-- eyeliner-prune: https://ld-wp73.template-help.com/woocommerce/prod_16812/v2/wp-content/uploads/2018/01/Waterproof-vinyl-eyeliner-prune-400x400.png -->
<!-- fluidline: https://ld-wp73.template-help.com/woocommerce/prod_16812/v2/wp-content/uploads/2018/01/Skin-perfector-foundation.png -->
<!-- lipstick: https://ld-wp73.template-help.com/woocommerce/prod_16812/v2/wp-content/uploads/2018/01/Ultra-matte-lipstick-400x400.png -->